{% extends "layout.html" %}

{% block search %}
<div class="row">
  <div class="col"> </div>
  <div class="col-8">
    <form class="form-inline form-control-lg" action="{{ url_for('search') }}" method="post">
      <input type="text" name="look_up" placeholder="Search for....">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
  <div class="col"></div>
</div>


{% if result %}
<table class="table table table-hover table-dark">
<thead>
  <tr>
    <th scope="col">ISBN</th>
    <th scope="col">Tile</th>
    <th scope="col">Auther</th>
    <th scope="col">Year</th>
  </tr>
</thead>
<tbody>

  {% for item in result %}
  <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    <td>{{ item[2] }}</td>
    <td>{{ item[3] }}</td>
    <td>
      <a class="btn btn-outline-info" href="/result/{{ item[0] }}">select</a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}
