{% extends "layout.html" %}

{% block title %}
  sigin
{% endblock %}

{% block main %}

<body class="text-center">
  <h1 class="h3 mb-3 font-weight-normal">Please sigin</h1>


  <form class="form-signin" action="{{ url_for('register') }}" method="post">
        <input type="text" name="username" placeholder="Enter Your Name" id="inputEmail" class="form-control">
        <input type="password" name="password" placeholder="Enter your password"id="inputEmail" class="form-control">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

</body>

{% endblock %}
